/* GENERAL */

.dm-container {
  width: 60%;
  margin: 0 auto;
}

.dm-container-2 {
  width: 80%;
  margin: 0 auto;
}

body {
  color: #2C3E50;
}

ul li {
  list-style: none;
  margin: 0 10px;
}

li a, div a {
  text-decoration: none;
}

.dm-section-green {
  background-color: #31BC9C;
  color: white;
}

.dm-btn-green {
  background: #1ABC9C;
  color: #fff;
}

.dm-btn-green:hover,
.dm-btn-green:active,
.dm-btn-green:focus {
  background: #0f836c;
  color: #fff;
}

section {
  margin-bottom: 20px;
  padding: 20px 0;
}

