/* HEADER */

header {
  height: 80px;
  background-color: #2c3e50;
}

header nav {
  height: 100%;
  text-transform: uppercase;
}

header nav div a {
  color: white;
}

header nav .row {
  height: 100%;
}

.navbar-brand {
  font-weight: bold;
}

/* JUMBOTRON */

.jumbotron {
  height: 500px;
  background-color: #1abc9c;
}

.sc-jumbotron-image{
  max-width: 250px;
}

.jumbotron h3, 
.jumbotron h1 {
  text-transform: uppercase;
}

.dm-star .bi-star-fill {
  font-size: 30px;
  vertical-align: middle;
  margin: 30px 2%;
}

.dm-star::before, 
.dm-star::after {
  content: '';
  display: inline-block;
  width: 15%;
  height: 4px;
  background-color: white;
  border-radius: 2px;
  vertical-align: middle;
}

.dm-star.dm-star-dark::before, 
.dm-star.dm-star-dark::after {
  background-color: #2C3E50;
}

/* PORTFOLIO */

.portfolio {
  height: 500px;
  background-color: white;
}

/* CARDS */

.dm-card img {
  width: 100%;
  border-radius: 10px;
}

.dm-card .layover {
  background-color: rgba(26, 188, 156, .7);
  display: none;
}

.dm-card:hover .layover {
  display: flex;
}
.dm-card {
  margin-bottom: 30px;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
}

.dm-card .layover .bi-plus-lg {
  color: white;
  font-size: 60px;
}



/* ABOUT */

.about {
  height: 200px;
  background-color: #1abc9c;
}

/* CONTACT */

.contact {
  height: 400px;
  background-color: white;
}

#contact input, 
#contact textarea {
  padding: 10px 0 30px 0;
  border-top: 0 transparent;
  border-left: 0 transparent;
  border-right: 0 transparent;
  box-shadow: none; 
  border-radius: 0;
  font-size: 20px;
  color: #2c3E50;
}

#contact ::placeholder {
  color: #2c3E50;
  font-size: 20px;
}

/* FOOTER */

footer {
  height: 160px;
}

/* FOOTER TOP */

.dm-footer-top {
  height: 120px;
  background-color: #3a546d;
}

.dm-social-icons {
  display: inline-block; 
  width: 40px;
  height: 40px;
  /* background-color: white; */
  border-radius: 50%;
  margin: 0 20px;
  border: 1px solid white;
  color: white;
  line-height: 40px;
  text-align: center; 
  font-size: 30px;
}

/* FOOTER BOTTOM */

.dm-footer-bottom {
  height: 40px;
  background-color: #2c3e50;
}